body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/BASE\ TORRES.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.h1{
  text-shadow: -4px 0px black;
  text-align: center;
}
.parraf-hero{
  text-align: center;
  background-color: rgb(33 37 41);
  border-radius: 19px;
  padding: 1em;
  opacity: 69%;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #190666;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
