body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 95vh;
}

/* efecto del banner*/

#banner{
  padding-top: 8rem;
}

#f-data {
  overflow: hidden;
}

#f-data:hover #data-title, 
#f-data:hover #data-text {
  transform: translateX(0);
  transition: transform 0.3s 0.2s;
}
#data-title{
  transform: translateX(-175%);
}
#data-text{
  transform: translateX(100%);
}

/*...........*/

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Efecto de las Cards*/

.shadow{
  display: flex;
  justify-content: end;
  background: #5bc0de00;  
  background: linear-gradient(to bottom, #5bc0de00, #3a6073 ); 
  
}
.shadow:hover{
  padding-left: 5px;
}


/*.........................*/

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
