body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(219, 36, 158);
  color: rgb(21, 23, 24);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#h1 {
  height: 100%;
}
/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#color-texto{
  color: black;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #753d0c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
