
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  font-family: "Raleway", sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
